.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2, 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.customerData {
  text-align: left;
}

.contactData {
  text-align: left;
}

.div2 {
  display: flex;
  flex-direction: column;
}

.commCustomer {
  border-radius: 45px;
  padding: 10px;
  background-color: #f0f2f5;
}

label {
  font-weight: bold;
}

.customerButtons {
  padding: 10px 30px;
  margin: 10px;
  max-width: 100px;
  border-radius: 45px;
  font-size: 15px;
  background-color: #463ab3;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

.customerButtons:hover {
  background-color: rgb(127, 255, 0, 0.7);
  color: #463ab3;
  transition: all 0.2s ease-out;
}

.CustomerNewComm {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .parent {
    display: flex;
    flex-direction: column;
  }
  .div1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .customerData {
    justify-content: center;
    text-align: center;
  }

  .contactData {
    justify-content: center;
    text-align: center;
  }

  .customerButtons {
    padding: 5px 10px;
    font-size: small;
  }
}
