.contacts {
  border-radius: 30px;
  padding: 10px;
  width: 300px;
  background-color: #f5f6f7;
}

.contactList {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  text-align: center;
  flex-wrap: wrap;
}
