.App {
  text-align: center;
}

header {
  background-color: #282c34;
  min-height: 12px;
  display: grid;
  justify-content: start;
  padding-left: 10%;
  font-size: 12px;
  color: white;
}

header a {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
