.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #3b309d;
}

.main {
  min-height: 100vh;
  margin-bottom: 11vh;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: large;
  }
}
