.comms {
  border-radius: 45px;
  padding: 10px;
  width: 60vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-left: 7%;
}

.comms:hover {
  background-color: #f0f2f5;
  transition: all 0.2s;
}

.commList {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  text-align: left;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.commHeader {
  font-weight: bold;
}

.deleteCommButton {
  padding: 5px 20px;
  border-radius: 45px;
  font-size: 15px;
  background-color: #463ab3;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border: none;
}

.deleteCommButton:hover {
  background-color: rgb(240, 67, 55);
  color: white;
}

.editCommButton {
  list-style: none;
  text-decoration: none;
  padding: 5px 35px;
  border-radius: 45px;
  font-size: 15px;
  background-color: #463ab3;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border: none;
  margin-left: 10px;
}

.editCommButton:hover {
  background-color: chartreuse;
  color: #463ab3;
}

.commDiv {
  border-radius: 45px;
  padding: 10px;
  text-align: left;
}

.commFormContainer {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.commForm {
  padding-left: 5%;
}

.inputText {
  width: 50vw;
  height: 2%;
  padding: 5px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  border-bottom: 3px solid #4539b1;
  text-align: left;
  font-size: medium;
}

.inputText:hover {
  background-color: #f5f6f7;
}

.selectOption {
  width: 50vw;
  height: 3%;
  padding: 10px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  border-bottom: 3px solid #4539b1;
  text-align: left;
}

.selectOption:hover {
  background-color: #f5f6f7;
}

.commFormLabel {
  font-size: 15px;
  color: #463ab3;
}

.submitForm {
  padding: 12px 30px;
  border-radius: 45px;
  font-size: 15px;
  background-color: #463ab3;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  width: 150px;
  margin-left: 17vw;
}

.submitForm:hover {
  background-color: rgb(127, 255, 0, 0.7);
  color: #3b309d;
  transition: all 0.2s ease-out;
}

.NewCommSection {
  text-align: center;
}

@media screen and (max-width: 650px) {
  .comms {
    border-radius: 45px;
    padding: 10px;
    width: 60vw;
    background-color: #f0f2f5;
    padding-left: 7%;
    font-size: small;
  }

  .editCommButton {
    padding: 2px 15px;
    font-size: smaller;
  }

  .deleteCommButton {
    padding: 2px 15px;
    font-size: smaller;
  }

  .submitForm {
    padding: 5px 5px;
    font-size: smaller;
    justify-content: center;
    align-items: center;
    width: 100px;
  }

  .commLinks {
    font-size: large;
  }
}
